@import "tailwindcss";
@source "../../../../packages/ui/src";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-panel: var(--panel);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
    --muted: #f4f4f5;
    --muted-foreground: #71717a;
    --border: #e4e4e7;
    --panel: #ffffff;
  }

  :root[data-theme="dark"],
  :root[data-theme="cyberpunk"],
  :root[data-theme="forest"],
  :root[data-theme="aqua"] {
    --background: #0a0a0a;
    --foreground: #fafafa;
    --muted: #27272a;
    --muted-foreground: #a1a1aa;
    --border: #27272a;
    --panel: #000000;
  }
}

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
