**/node_modules
**/.next
**/.expo
**/dist
**/build
**/.DS_Store
**/coverage
**/ios/Pods
**/ios/build
**/android/app/build
**/android/.gradle
templates/**/package-lock.json
templates/**/yarn.lock
templates/**/pnpm-lock.yaml
**/.env
**/.env.local
**/.env.development
**/.env.test
**/.env.production
